ENVIRONMENT=development

PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=eventflow

DB_TYPE=postgres
DB_HOST=eventflow-database
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=eventflow
DB_SYNCHRONIZE=true
DB_TIMEZONE=America/Sao_Paulo

ORM_ENTITIES_PATH=/../modules/**/infra/orm/entities/*.js

BULLMQ_HOST=eventflow-redis
BULLMQ_PORT=6379

JWT_SECRET=change-me
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=change-me-refresh
JWT_REFRESH_EXPIRES_IN=7d

WEBSOCKET_RATE_LIMIT_MAX_MESSAGES=5
WEBSOCKET_RATE_LIMIT_WINDOW_MS=10000

ABACATEPAY_API_KEY=
ABACATEPAY_API_URL=

